<div class="footing">
    <div class="container">
      <div class="row">
        <div class="col-md-4 foot">
          <h4>Kontakt</h4>
          <ul class="icon-list">
            <li class="cellphone">012345 6789-10</li>
            <li class="fax">012345 6789-20</li>
            <li class="mail"><a href="mailto:info@wbi-kronach.de" title="E-Mail">info@wbi-kronach.de</a></li>
          </ul>
        </div>
        <div class="col-md-4 foot">
          <h4>Adresse</h4>
          <ul class="icon-list">
            <li class="home">Weiterbildungsinitiative Kronach e. V.</li>
            <li class="street">Beispielstraße 12</li>
            <li class="location">12345 Kronach</li>
          </ul>
        </div>
        <div class="col-md-4 foot">
          <h4>Sitemap</h4>
          <ul class="icon-list">
            <li class="sitemap"><a href="/">Home</a></li>
            <li><a href="/">Initiative</a>
              <ul class="sub-list"><li><a href="/">Lucas Cranach Stipendium</a></li></ul>
            </li>
            <li><a href="/">Ausbildung</a></li>
            <li><a href="/">Klinik</a></li>
            <li><a href="/">Haus- und Fachärzte</a></li>
            <li><a href="/">Kontakt</a></li>
            <li><a href="/">Impressum</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>