<div class="navigation">
    <div class="top-bar">
      <div class="container">
        <ul class="icon-list pull-right">
          <li class="cellphone">09261 59-6108</li>
        </ul>
      </div>
    </div>

    <!-- Navbar -->
    <div class="navbar navbar-default navbar-wbi" role="navigation">
      <div class="container">

        <!-- group logo + toggler = better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="sr-only">Toggle navigation</span>
            <i class="glyphicon glyphicon-menu-hamburger"></i>
                </button>
                
            <div class="brand">
              <a class="navbar-brand link-logo" href="{{ site.github.url }}/" {% if current[1] == 'index.html' %}class='current'{% endif %}>Weiterbildungsverbund</br>Kronach</a>
            </div>
        </div>

        <!-- Collect content for toggling -->
        <div class="collapse navbar-collapse navbar-responsive-collapse pull-right">
          <ul class="nav navbar-nav">
            {% assign current = page.url | downcase | split: '/' %}
            <li><a href="{{ site.github.url }}/verbund" {% if current[1] == 'verbund' %}class='current'{% endif %}>Verbund</a></li>
            <li class="dropdown"><a href="{{ site.github.url }}/ausbildung" {% if current[1] == 'ausbildung' %}class='current'{% endif %} onclick="location.href='/ausbildung'">Ausbildung<b class="caret"></b></a>
              <ul class="dropdown-menu" id="menu1">
                <li><a href="{{ site.github.url }}/stipendium">Lucas Cranach Stipendium</a></li>
              </ul>
            </li>
            <li><a href="{{ site.github.url }}/klinik" {% if current[1] == 'klinik' %}class='current'{% endif %}>Klinik</a></li>
            <li><a href="{{ site.github.url }}/aerzte" {% if current[1] == 'aerzte' %}class='current'{% endif %}>Haus- und Fachärzte</a></li>
            <li><a href="{{ site.github.url }}/kontakt" {% if current[1] == 'kontakt' %}class='current'{% endif %}>Kontakt</a></li>
          </ul>
        </div>

      </div>
    </div>
    <!-- End Navbar -->
  </div>