<div class="boxes">
      <div class="container">
        <div class="row">
          <!-- left -->
          {% for post in site.categories.[page.left] %}
          <div class="col-md-4 teaser">
            <div class="col-xs-3 teaser-icon">
              <img src="{{ site.baseurl }}/images/{{ post.icon }}" width="80">
            </div>
            <div class="col-xs-9">
              <div class="description">
                <h3>{{ post.name }}</h3>
                <p>{{ post.text }}</p>
                <button class="btn-more" onclick="window.location.href='{{ site.baseurl }}{{ post.link }}'">Weitere Details</button>
              </div>
            </div>
          </div>
          {% endfor %}
          <!-- middle -->
          {% for post in site.categories.[page.middle] %}
          <div class="col-md-4 teaser">
            <div class="col-xs-3 teaser-icon">
              <img src="{{ site.baseurl }}/images/{{ post.icon }}" width="80">
            </div>
            <div class="col-xs-9">
              <div class="description">
                <h3>{{ post.name }}</h3>
                <p>{{ post.text }}</p>
                <button class="btn-more" onclick="window.location.href='{{ site.baseurl }}{{ post.link }}'">Weitere Details</button>
              </div>
            </div>
          </div>
          {% endfor %}
          <!-- right -->
          {% for post in site.categories.[page.right] %}
          <div class="col-md-4 teaser">
            <div class="col-xs-3 teaser-icon">
              <img src="{{ site.baseurl }}/images/{{ post.icon }}" width="80">
            </div>
            <div class="col-xs-9">
              <div class="description">
                <h3>{{ post.name }}</h3>
                <p>{{ post.text }}</p>
                <button class="btn-more" onclick="window.location.href='{{ site.baseurl }}{{ post.link }}'">Weitere Details</button>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>