<!doctype html>
<html>

  {% include head.html %}

  <body>
    <div class="banner text-right">
        <div class="container">
            <a class="inverted" href="tel:00499261596108"><i class="fa fa-fw fa-phone"></i>&nbsp;09261 59-6108</a>
        </div>
    </div>

    <!--=== Navigation ===-->
    {% include navigation.html %}
    <!--=== End Navigation ===-->

    <!--=== Resizable Header  ===-->
    {% include gmaps.html %}
    <!--=== End Resizable Header ===-->

    <!--=== Content ===-->
    {{ content }}
    <!--=== End Content ===-->

    <!--=== Teaser ===-->
    {% include teaser.html %}
    <!--=== End Teaser ===-->

    <!--=== Footer ===-->
    {% include footer.html %}
    <!--=== End Footer ===-->

    <!-- Hashgrid: Kick hashgrid into action -->
    <script type="text/javascript">
    var grid = new hashgrid({ numberOfGrids: 2 });
    </script>

  </body>
</html>